{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title> Anuj Jhamb</title>
        <link href="{% static '/css/home.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-body h-100 border-danger" id="profile-wrapper">
                        <img src="https://media-exp1.licdn.com/dms/image/C5103AQGc8vbzx6qkCA/profile-displayphoto-shrink_200_200/0?e=1587600000&v=beta&t=k2lIhBJxJGiaNM28eLFn7bjcFr71m19Po1sA6ODo6cM" id="profile-pic" >
                        <hr>
                        <h4>Anuj Jhamb</h4>
                        <hr>
                        <p>B.Tech.- Computer Science and Engineering </p>
                        <p>NMIMS MPSTME, Shirpur</p>
                        <hr>
                        <p><b>B.Tech. -</b> 3.7/4 CGPA</p>
                        <p><b>12th -</b> 79 %</p>
                        <p><b>10th -</b> 92.67 %</p>
                        <hr>
                        <p><b>Email : </b>anuj.jhamb21@nmims.edu.in</p>
                        <p><b>Phone no. : </b>9530094900</p>
                        <ul class="social-links">
                            <li><a href="https://www.facebook.com/anuj.jhamb"><img class="social" src="{% static 'images/facebook.png' %}"></a></li>
                            <li><a href="https://www.linkedin.com/in/anuj-jhamb/"><img class="social" src="{% static 'images/linkedin.png' %}"></a></li>
                            <li><a href="https://www.instagram.com/anuj_jhamb/?hl=en"><img class="social" src="{% static 'images/instagram.png' %}"></a></li>
                            <li><a href="https://twitter.com/jhamb23"><img class="social" src="{% static 'images/twitter.png' %}"></a></li>
                            <li><a href="https://github.com/nuje98"><img class="social" src="{% static 'images/github1.png' %}"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card card-body h-100 border-danger">
                        <h4>Projects</h4>
                        <hr>
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                  <h6 class="mb-1">Arduino Mini Projects</h6>
                                  <small class="text-muted">Oct 2017</small>
                                </div>
                                <p class="mb-1">Developed hand gesture enabled bot using Accelerometer, Smart dustbin using Ultrasonic sensor, Line follower robot using IR sensor, Bluetooth enabled car using bluetooth module.</p>
                                <small class="text-muted">Click on the project to land up on the github page.</small>
                            </a>
                            <a href="https://github.com/nuje98/KitaabX" class="list-group-item list-group-item-action flex-column align-items-start">
                              <div class="d-flex w-100 justify-content-between">
                                <h6 class="mb-1">KitaabX</h6>
                                <small>Jan 2018</small>
                              </div>
                              <p class="mb-1">Designed a web portal using HTML, CSS, Javascript, MongoDB, NodeJS, ExpressJS that serves handwritten notes of different subjects. Students can create their own accounts and have access to the content.</p>
                              <small>Click on the project to land up on the github page.</small>
                            </a>
                            <a href="https://github.com/nuje98/Pizza-Hub" class="list-group-item list-group-item-action flex-column align-items-start">
                              <div class="d-flex w-100 justify-content-between">
                                <h6 class="mb-1">Pizza Hub</h6>
                                <small class="text-muted">Apr 2019</small>
                              </div>
                              <p class="mb-1">Developed an Android application which can be used for online pizza ordering service. Implemented the authentication system using Google Firebase.</p>
                              <small class="text-muted">Click on the project to land up on the github page.</small>
                            </a>
                            <a href="https://github.com/nuje98/Weather-App" class="list-group-item list-group-item-action flex-column align-items-start">
                              <div class="d-flex w-100 justify-content-between">
                                <h6 class="mb-1">Weather App</h6>
                                <small class="text-muted">Feb 2020</small>
                              </div>
                              <p class="mb-1">Developed a weather application using Django, HTML, CSS which gives the real time weather information by using API of openweathermap.com</p>
                              <small class="text-muted">Click on the project to land up on the github page.</small>
                            </a>
                            <a href="https://github.com/nuje98/portfolio" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                  <h6 class="mb-1">Portfolio</h6>
                                  <small class="text-muted">Mar 2020</small>
                                </div>
                                <p class="mb-1">Developed an online portfolio/resume  application which you're viewing right now using Django, HTML, Bootstrap</p>
                                <small class="text-muted">Click on the project to land up on the github page.</small>
                            </a>
                            <a href="https://github.com/nuje98/stone-paper-scissors" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                  <h6 class="mb-1">Stone Paper Scissors</h6>
                                  <small class="text-muted">Mar 2020</small>
                                </div>
                                <p class="mb-1">Developed stone-paper-scissors game using JavaScript</p>
                                <small class="text-muted">Click on the project to land up on the github page.</small>
                            </a>
                          </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-body h-100 border-info">
                        <h5>Experience</h5>
                        <hr>
                        <ul>
                            <li><b>Ricoh India Limited:</b> Software developer Intern</li>
                            <hr>
                            <li><b>KittabX:</b> Co-Founder and Full Stack Web Developer</li>
                            <hr>
                            <li><b>Terra Cognita:</b> Indian Partner (Native Speaker)</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-body h-100 border-info">
                        <h5>Technical Skills</h5>
                        <hr>
                        <ul>
                            <li><b>Languages:</b> C, C++, Python, Java*</li>
                            <li><b>Web Tech:</b> HTML, CSS, Botstrap, Javascript, jQuery, ReactJS*, NodeJS*, Django</li>
                            <li><b>Database:</b> SQL, MongoDB*, Postgresql*</li>
                            <li><b>Operating System:</b> Windows, Linux</li>
                            <li><b>Software Packages:</b> Machine learning tools and libraries</li>
                            <li><b>Miscellanous:</b> Arduino, DialogFlow, Android Studio, Git*, AWS Lambda*, Alexa toolkit*</li>
                        </ul>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-body h-100 border-info">
                        <h5>Achievements</h5>
                        <hr>
                        <p>Intel Egde AI Scholarship holder</p>
                        <p>AWS DeepRacer Scholarship holder</p>
                        <p> RBSE 10th district merit in 10th Boards</p>
                        <p>Secured 71st rank all over India in Winter of Codes</p>
                        <p>International Master Maths Olympiad Gold Medalist</p>
                        <p>Completed Hactoberfest 2019 by getting 5 pull requests merged</p>
                        <p>University topper in 5th semester and among top 3 for all 6 semesters</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-body h-100 border-info">
                        <h5>Position of Responsibility</h5>
                        <hr>
                        <p>Represented district in State Level Badminton Tournament</p>
                        <p>Placement Coordinator from Computer Science Department</p>
                        <p>Represented college in IIT Bombay's Annual Technical festival "Techfest"</p>
                        <p>Represented college in IIT Bombay's Annual Cult. festival "Mood Indigo"</p>
                        <p>Represented college in IIT Indore's Annual Techno-Cult festival "Fluxus"</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>